:root {
    --brand:#2e3f47;
    --action:#5e503f;
    --base-light:#eae0d5;
    --white: white;
    --black:black;
}

/* CSS reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Quattrocento", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

.flex {
    display: flex;
}

/* End CSS reset */
/* Fonts */
.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}


.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.h1, .h2 {
    font-family: "Quattrocento", serif;
}


.h3, .h4, .h5, .h6 {
    font-family: "Montserrat", sans-serif;
}
h3, h4, h5, h6, p {
    font-family: "Montserrat", sans-serif;
}

.p {
    font-family: "Montserrat", sans-serif;
}
/* End fonts */
/* Header */
.header {
    height: 20vh;
    background-color: var(--brand);
    margin: 0px;
    padding: 0px;
}

.header-img {
    width: 200px;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    
   
    
}

    

body {
    background-color: white;
}